<html>

<head>
    <meta>
    <title>
        this is my 10 网页
    </title>
    <script src="../vue.js" type="text/javascript">      </script>
</head>

<body>
  值绑定 
   <!-- 当选中时，`picked` 为字符串 "a" -->
<input type="radio" v-model="picked" value="a">

<!-- `toggle` 为 true 或 false -->
<input type="checkbox" v-model="toggle">

<!-- 当选中第一个选项时，`selected` 为字符串 "abc" -->
<select v-model="selected">
  <option value="abc">ABC</option>
</select>

<input
  type="checkbox"
  v-model="toggle"
  true-value="yes"
  false-value="no"
>
    <script type="text/javascript">
     
    </script>



</body>

</html>